body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ddd; 
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #222;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    color: #000;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}
