body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; 
    color: #ddd; 
}
header {
    background-color: #222; 
    padding: 5rem;
    text-align: center;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #444;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #666;
}
main {
    padding: 2rem;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color:#ff2915;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.row {
    display: flex;
}
.cell {
    flex:1;
    background-color: #333;
    border:1px solid #555;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}
.cell[colspan="2"] {
    flex-basis: 100%;
}
.bike-description {
    text-align :left;
    padding: 0 1rm;

}
.booknowbotton {
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.booknowbotton:hover {
    background-color: #666;
}
footer
{
    background-color: #222; 
    color: #999;
    text-align: center;
    padding: 1rem;
}

#home p {
    text-align: center;
}



